.requests-container {
  width: 1100px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.requests-main {
  width: 100vw;
}
