@import '../../styles/variables';

.form-container {
	color: #000;
	font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	height: 100vh;
	width: 100vw;
	background-color: $default-background;
	display: flex;
	justify-content: center;
	align-items: center;

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $form-white-background;
		width: 42.95vw;
		padding: 3rem 7.5rem;
		border-radius: 0.5rem;

		fieldset {
			max-width: 611px;
			width: 100%;
			position: relative;

			p {
				font-size: 0.8rem;
				color: rgb(203, 21, 21);
				font-weight: $fontWeightBold;
				visibility: visible;
				height: 1px;
				text-align: center;
				margin-bottom: 16px;
			}
		}

		.button-container {
			position: relative;
			margin-top: 1rem;
			max-width: 38rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			.button {
				display: flex;
				cursor: pointer;
				justify-content: center;
				align-items: center;
				align-self: stretch;
				min-height: 2.875rem;
				height: 100%;
				border-radius: 0.25rem;
				color: $white-text;
				font-size: $font-size-small;
				font-style: normal;
				font-weight: $fontWeightSemiBold;
				line-height: normal;
				transition-duration: 0.3s;
				box-sizing: border-box;
				padding: 12px 0px;

				&:disabled {
					background-color: #808080 !important;
					color: #fff !important;
					cursor: not-allowed !important;
				}
			}

			.google-login {
				display: flex;
				padding: 1rem;
				justify-content: center;
				align-items: center;
				align-self: stretch;
				gap: $font-size-small;
				border-radius: 9999px;
				border: 2px solid #e2e8f0;
				color: #1e293b;
				font-feature-settings: 'clig' off, 'liga' off;
				font-family: 'Figtree', system-ui, Avenir, Helvetica, Arial,
					sans-serif;
				font-size: 1rem;
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 150% */
				letter-spacing: -0.24px;
				margin-bottom: 3rem;

				&:hover {
					background-color: #e2e8f0; /* Change background color on hover */
				}

				&:active {
					background-color: #cfd8e3; /* Change background color on active state */
				}
			}

			.google-icon {
				margin-right: 1rem;
			}

			span,
			.back-to-login {
				font-size: $font-size-small;
				font-weight: $fontWeightSemiBold;
				line-height: 24px;
				a {
					font-weight: $fontWeightSemiBold;
				}
			}

			span {
				margin: 2rem 0rem 2rem 0rem;
			}

			.back-to-login {
				margin: 0rem 0rem 2rem 0rem;
				display: flex;
				p {
					margin: 0px;
				}
			}

			.signup {
				background-color: $button-blue-background;

				&:hover {
					background-color: darken($button-blue-background, 10%);
				}

				&:active {
					background-color: #044a80; // Adjusted background color for active state
					box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); // Inset shadow on click
				}
			}

			.login {
				background-color: rgba(204, 204, 204, 0.4);

				&:hover {
					background-color: darken(rgba(204, 204, 204, 0.4), 10%);
				}

				&:active {
					box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); // Inset shadow on click
				}
			}
		}

		.loading-message,
		.success-message {
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			text-align: center;
		}

		.success-message {
			color: green; /* Customize the color of the success message */
		}
	}

	.form-title {
		font-size: $font-size-large;
		font-weight: $fontWeightMedium;
		margin-bottom: $font-size-large;
	}

	.form-input {
		label {
			display: block;
			font-weight: $fontWeightMedium;
			font-size: 0.875rem;
		}

		input {
			margin-top: 0.5rem;
			width: 100%;
			min-height: 3rem;
			height: 100%;
			border-radius: 0.25rem;
			border: 1px solid var(--Black-20, rgba(17, 17, 19, 0.2));
			box-sizing: border-box;
			font-weight: $fontWeightRegular;
			padding: 0.8125rem 1rem;
			font-size: $font-size-small;
		}
	}
}

@media (min-width: 20rem) and (max-width: 75rem) {
	.form-container {
		.form {
			width: 75vw;
		}
	}
}

@media (min-width: 20rem) and (max-width: 48rem) {
	.form-container {
		.form {
			.button-container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin: 2.5rem 0 3.75rem 0;

				.loading-message,
				.success-message {
					top: -40%;
				}

				.back-to-login {
					text-wrap: nowrap;
					display: flex;
					align-items: center;
					flex-direction: column;
				}
			}
		}
	}
}

@media (min-width: 20rem) and (max-width: 40.875rem) {
	.form-container {
		.form {
			padding: 3rem 2rem;
			.button-container {
				.google-icon {
					margin-right: 0rem;
				}

				.google-login div span {
					display: none;
				}
			}
		}
	}
}
